<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LITReview - Créer une critique en réponse à un ticket</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'djangoApp/css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'djangoApp/css/createCritic.css' %}">
</head>
<body>
    <header id="header">
        <h1>LITReview</h1>
        <nav>
            <a href="{% url 'flux' %}">Flux</a>
            <a href="{% url 'posts' %}">Posts</a>
            <a href="{% url 'subscribes' %}">Abonnements</a>
            <form action="{% url 'logout' %}" method="post" class="form-logout">
                {% csrf_token %}
                <button type="submit" class="btn-nav">Se déconnecter</button>
            </form>            
        </nav>
    </header>
    <section class="container_createCriticInResponse">
        <div class="container_all_form">
            <h1 class="main_title_critic">Créer une critique</h1>
            <div class="ticket-details_response">
                <div class="ticket-details_response"><h2 class="main_title_critic_response">Vous êtes en train de poster en réponse à</h2></div>
                
                <div class="container_indication_response">
                    <h2>{{ticket.user.username}} a demandé une critique</h2>
                    <p><strong>Titre :</strong> {{ ticket.title }}</p>
                    <p><strong>Description :</strong> {{ ticket.description }}</p>
                    <img class="img_response" src="{{ ticket.image.url }}" alt="Image du ticket" class="flux-img"/>
                </div>
            </div>
            <form method="post" enctype="multipart/form-data" class="form_critic_response">
                {% csrf_token %}
                <div class="container_item">
                    {{ review_form.headline.label_tag }}
                    {{ review_form.headline }}
                    
                    {{ review_form.rating.label_tag }}
                    <div class="container_radio">
                        {{ review_form.rating }}
                    </div>
                </div>
                <div class="container_item">
                    {{ review_form.body.label_tag }}
                    {{ review_form.body }}
                </div>
                <button type="submit" class="btn">Soumettre</button>
            </form>
        </div>
    </section>
</body>
</html>
