<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LITReview - Créer un Ticket</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'djangoApp/css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'djangoApp/css/createCritic.css' %}">
</head>
<body>
    <header id="header">
        <h1 tabindex="0">LITReview</h1>
        <nav>
            <a href="{% url 'flux' %}" tabindex="1">Flux</a>
            <a href="{% url 'posts' %}" tabindex="2">Posts</a>
            <a href="{% url 'subscribes' %}" tabindex="3">Abonnements</a>
            <form action="{% url 'logout' %}" method="post" class="form-logout">
                {% csrf_token %}
                <button type="submit" class="btn-nav" tabindex="4">Se déconnecter</button>
            </form>
        </nav>
    </header>
    <section class="container_createCritic">
        <h1 class="main_title_critic">Créer un Ticket</h1>
        <form method="post" enctype="multipart/form-data" class="form_critic">
            {% csrf_token %}
            <div class="container_item">
                {{ ticket_form.title.label_tag }}
                {{ ticket_form.title }}

                {{ ticket_form.description.label_tag }}
                {{ ticket_form.description }}

                {{ ticket_form.image.label_tag }}
                {{ ticket_form.image }}
            </div>
            <button type="submit" class="btn" tabindex="11">Soumettre</button>
        </form>
    </section>
</body>
</html>
