<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LITReview - Flux</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'djangoApp/css/nav.css' %}">
<link rel="stylesheet" href="{% static 'djangoApp/css/home.css' %}">
</head>
<body>
    <header id="header">
        <h1>LITReview</h1>
        <nav>
            <a href="{% url 'flux' %}">Flux</a>
            <a href="{% url 'posts' %}">Posts</a>
            <a href="{% url 'subscribes' %}">Abonnements</a>
            <form action="{% url 'logout' %}" method="post" class="form-logout">
                {% csrf_token %}
                <button type="submit" class="btn-nav">Se déconnecter</button>
            </form>            
        </nav>
    </header>
    <div class="container_buttons">
        <a href="{% url 'createCritic' %}" class="btn">Créer une critique</a>
        <a href="{% url 'createTicket' %}" class="btn">Demander une critique</a>
    </div>
    <div class="container_flux">
        {% for item in items %}
            {% if item.headline %}  <!-- Supposons que 'headline' soit unique aux Reviews -->
                <div class="review">
                    <div class="review-header">
                        <p>
                        {% if item.user == request.user %}
                            Vous avez créé une critique.
                        {% else %}
                            {{ item.user.username }} a créé une critique.
                        {% endif %}
                        </p>
                      <!-- Afficher l'heure de création avec le format désiré -->
                    <p class="time">{{ item.time_created|date:"H:i, d F Y" }}</p>
                    </div>
                    <div class="container-title-score">
                        <h2>{{ item.headline }}</h2>
                        <p>-</p><p> 
                            <span class="star-rating">
                            {% for i in "12345" %}
                                <span class="{% if item.rating|default:'0'|add:0 >= forloop.counter %}filled{% endif %}">&#9733;</span>
                            {% endfor %}
                            </span>
                        </p>
                    </div>
                    <p>{{ item.body }}</p>
                    <!-- Afficher les détails spécifiques aux critiques -->
                    {% if item.image %}
                        <img src="{{ item.image.url }}" alt="Image de la critique" class="flux-img"/>
                    {% endif %}
                </div>
            {% else %}  <!-- Sinon, c'est un Ticket -->
                <div class="ticket">
                    <div class="review-header">
                        <p>
                        {% if item.user == request.user %}
                            Vous avez demandé une critique.
                        {% else %}
                            {{ item.user.username }} a demandé une critique.
                        {% endif %}
                        </p>
                        <p class="time">{{ item.time_created|date:"H:i, d F Y" }}</p>
                    </div>
                    <h2>{{ item.title }}</h2>
                    <p>{{ item.description }}</p>
                    {% if item.image %}
                        <img src="{{ item.image.url }}" alt="Image du ticket" class="flux-img"/>
                    {% endif %}
                    <div class="container_buttons"><a href="{% url 'createCritic' %}" class="btn">Créer une critique</a></div>
                </div>
            {% endif %}
        {% empty %}
            <p>Aucun ticket ou critique disponible.</p>
        {% endfor %}
    </div>
    
    
    <!--<script src="{% static 'djangoApp/js/home.js' %}"></script>-->
</body>
</html>
