<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LITReview</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'djangoApp/css/home.css' %}">
<link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body>
    <header id="header"><h1 tabindex="0">LITReview</h1></header>
    <div class="container_home">
        <div class="container_options">
            <div class="container_signup">
                <h2>Inscrivez-vous maintenant</h2>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %} 
                <button type="submit" class="btn" id="signup" tabindex="1">S'inscrire</button>
            </div>
            <div class="container_login">
                <h3>Connectez-vous</h3>
                <form method="post" action="{% url 'login' %}" class="form">
                    {% csrf_token %}
                    <div class="container_inputs">
                        <input type="text" name="username" placeholder="Nom d'utilisateur" required tabindex="2">
                        <input type="password" name="password" placeholder="Mot de passe" required tabindex="3">
                    </div>
                    <button type="submit" class="btn" id="login" tabindex="4">Se connecter</button>
                </form>            
            </div>
        </div>
        </div>
    <script src="{% static 'djangoApp/js/home.js' %}"></script>
</body>
</html>
