<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LITReview</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'djangoApp/css/home.css' %}">
</head>
<body>
    <header id="header"><h1>LITReview</h1></header>
    <div class="container_home">
        <div class="container_signup">
            <h2>Inscrivez-vous maintenant</h2>
            <button type="submit" class="btn" id="signup">S'inscrire</button>
        </div>
        <div class="container_login">
            <h3>Connectez-vous</h3>
            <form action="" class="form">
                <div class="container_inputs">
                    <input type="text" placeholder="Nom d'utilisateur">
                    <input type="password" placeholder="Mot de passe">
                </div>
                <button type="submit" class="btn" id="login">Se connecter</button>
            </form>
        </div>
    </div>

    <script src="{% static 'djangoApp/js/home.js' %}"></script>
</body>
</html>
