<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LITReview</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'djangoApp/css/signup.css' %}">
</head>
<body>
    <header id="header"><h1>Signup</h1></header>
    <div class="container_signup">
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
        <h2>Inscrivez-vous maintenant</h2>
        <form method="post" action="{% url 'signup' %}" class="form">
            {% csrf_token %}
            <div class="container_inputs">
                <input type="email" name="email" placeholder="adresse email" required>
                <input type="password" name="password1" placeholder="mot de passe" id="password" required>
                <input type="password" name="password2" placeholder="confirmer mot de passe" id="confirmPassword" required>
            </div>
            <div class="container_buttons">
                <button type="button" class="btn returnHome" id="returnHome">Retourner</button>
                <button type="submit" class="btn" id="signup">S'inscrire</button>
            </div>
        </form>
        
    </div>

    <script src="{% static 'djangoApp/js/signup.js' %}"></script>
</body>
</html>
